<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>logout</title>
</head>
<body>
    <div>
        <p>you already log out</p>
        <a href="/">go back to first page</a>
    </div>
</body>
</html>